---
import skillsJson from "@assets/data/skills.json";
import SkillBox from "@components/SkillBox.astro";
import TypeAndDelete from "@components/TypeAndDelete.astro";
import InfoContainer from "@containers/InfoContainer.astro";
import DownloadIcon from "@icons/DownloadIcon.astro";
import GithubIcon from "@icons/GithubIcon.astro";
import LinkedInIcon from "@icons/LinkedInIcon.astro";
import MailIcon from "@icons/MailIcon.astro";
import { Image } from "astro:assets";
---

<InfoContainer>
  <section class="flex flex-col md:flex-row items-center gap-x-6 gap-y-4 md:gap-y-0">
    <div class="relative">
      <Image src="/about/easter-egg.webp" alt="Avatar" width="128" height="128" class="absolute z-10 rounded-full opacity-0" />
      <Image src="/about/avatar.jpeg" alt="Avatar" width="128" height="128" class="rounded-full" />
    </div>
    <div class="flex flex-col gap-y-2">
      <h1 class="text-5xl sm:text-6xl font-medium">Rafael Carvacho</h1>
      <TypeAndDelete />
    </div>
  </section>
  
  <section class="flex justify-center md:justify-start w-full mt-9">
    <p class="max-w-[600px] text-lg text-pretty text-text-secondary">
      Desarrollador de software con 1 año de experiencia, especializado en diversas áreas como Frontend, Backend y Diseño de Software. Actualmente, enfocado en mi desarrollo profesional como Arquitecto de Software, abarcando soluciones tanto on-premise como en la nube.
    </p>
  </section>
  
  <SkillBox title="Mis Habilidades" skills={skillsJson} />
  
  <section class="flex flex-wrap gap-4 mt-14">
    <a href="https://github.com/Unnunoctio" aria-label="github" target="_blank" rel="noreferrer" class="group flex gap-2 pointer px-4 py-2.5 text-lg font-medium text-text-secondary bg-bg-tertiary rounded-2xl shadow-primary transition-colors hover:bg-bg-hover hover:text-text-hover">
      <GithubIcon className="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-text-hover" />
      Github
    </a>
  
    <a href="https://www.linkedin.com/in/rafael-carvacho-389515265" aria-label="linkedin" target="_blank" rel="noreferrer" class="group flex gap-2 pointer px-4 py-2.5 text-lg font-medium text-text-secondary bg-bg-tertiary rounded-2xl shadow-primary transition-colors hover:bg-bg-hover hover:text-text-hover">
      <LinkedInIcon className="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-text-hover" />
      LinkedIn
    </a>
  
    <a href="/about/cv_rafael_carvacho.pdf" aria-label="curriculum" target="_blank" rel="noreferrer" class="group flex gap-2 pointer px-4 py-2.5 text-lg font-medium text-text-secondary bg-bg-tertiary rounded-2xl shadow-primary transition-colors hover:bg-bg-hover hover:text-text-hover">
      <DownloadIcon className="w-7 h-7 fill-text-secondary transition-colors group-hover:fill-text-hover" />
      Descargar CV
    </a>
  
    <a href="mailto:unnunoctio.dev@gmail.com" aria-label="email" target="_blank" rel="noreferrer" class="group flex gap-2 pointer px-4 py-2.5 text-lg font-medium text-text-secondary bg-bg-tertiary rounded-2xl shadow-primary transition-colors hover:bg-bg-hover hover:text-text-hover">
      <MailIcon className="w-7 h-7 stroke-text-secondary transition-colors group-hover:stroke-text-hover" />
      Hablemos
    </a>
  </section>
</InfoContainer>
