---
import ProjectList from "@components/ProjectList.astro";
import InfoContainer from "@containers/InfoContainer.astro";
---

<InfoContainer>
  <h2 class="text-4xl sm:text-5xl font-medium">Proyectos</h2>
  <ProjectList />
</InfoContainer>