---
import resumesJson from "@assets/data/resume.json";
import ResumeList from "@components/ResumeList.astro";
import InfoContainer from "@containers/InfoContainer.astro";
---

<InfoContainer>
  <h2 class="text-4xl sm:text-5xl font-medium">Trabajo & Educación</h2>
  
  <section class="flex flex-row justify-between gap-x-8 mt-14">
    <ResumeList 
      resumes={resumesJson.filter(r => r.code === "work")} 
      className="hidden md:block"
    />
    <ResumeList 
      resumes={resumesJson.filter(r => r.code === "education")} 
      className="hidden md:block"
    />
    <ResumeList 
      resumes={resumesJson} 
      className="block md:hidden"
    />
  </section>
</InfoContainer>